$purple: #694981;
$yellow: #F1C644;
$lightblue: #2295C6;
$ourblue: #2894C5;
$blue: #2894C5;
$blue-light: #E6F7FF;
$red: #E16262;
$green: #25BA86;
$green-light: #92DCC2;
$green-dark: #0C9C6A;
$black: hsl(0, 0%, 4%) !default

$grey-darkest: #59565d;
$grey-darker: #908B97;
$grey-dark: #ADA8B3;
$grey: #C5C1CA;
$grey-light: #DEDAE2;
$grey-lighter: #EAE7ED;
$grey-lightest: #F9F9F9;
$grey-line: #eae7ed;

$white: #ffffff;

$dark: #3A2B4B;

$secondary: $blue;

$navbar-tab-active-color: $secondary;
